<style>
.messages_opened {
	padding: 10px;
    margin: 5px;
    background-color: #F3F3F3
}
.links_clicked {
	padding: 10px;
    margin: 5px;
    background-color: #E6E2E2
}
.h1 {
    text-align: center;
}
</style>
<title>Nylas Webhooks</title>
<h1 class='h1'>Webhooks</h1>
<% messages_opened.each do |item| %>
  <div class='messages_opened'>
    <p><b>Id:</b> <%= item.id %> | <b>Date:</b> <%= item.date %> | <b>Label:</b> <%= item.label %> | 
          <b>Subject:</b> <%= item.subject %> | <b>Count:</b> <%= item.count %></p>
  </div>
<% end %>
<br>
<% links_clicked.each do |item| %>
  <div class='messages_opened'>
    <p><b>Id:</b> <%= item.id %> | <b>Date:</b> <%= item.date %> | <b>Label:</b> <%= item.label %> | 
          <b>Link:</b> <%= item.link %> | <b>Count:</b> <%= item.count %></p>
  </div>
<% end %>
